body,
html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  height: 752px;
  width: 752px;
  background: rgb(143, 143, 143, 25%);
  border: 6px solid rgb(194, 0, 0);
  border-radius: 4px;
}

.board-row {
  display: flex;
  flex-direction: row;
  height: 47px;
  width: auto;
}

.box {
  width: 45px;
  height: 45px;
  border: 1px solid rgba(128, 128, 128, 0.50);
}